<script src="../../bootstrap/js/bootstrap.min.js"></script>
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../../bower_components/polymer-color-picker/polymer-color-picker.html">
<dom-module id="app-header">
    <style is="custom-style">
    paper-button.green {
        height: 40px;
        background-color: var(--paper-green-500);
        /*background-color: var(--paper-light-green-500);*/
        color: white;
    }
    
    .flex-container {
        display: -webkit-flex;
        display: flex;
        height: 45px;
        -webkit-flex: 1;
        flex: 1;
    }
    
    paper-toggle-button.green {
        --paper-toggle-button-checked-bar-color: var(--paper-green-500);
        --paper-toggle-button-checked-button-color: var(--paper-green-500);
        --paper-toggle-button-checked-ink-color: var(--paper-green-500);
        --paper-toggle-button-unchecked-bar-color: var(--paper-grey-500);
        --paper-toggle-button-unchecked-button-color: var(--paper-grey-500);
        --paper-toggle-button-unchecked-ink-color: var(--paper-grey-500);
    }
    
    paper-toggle-button.pink {
        --paper-toggle-button-checked-bar-color: var(--paper-pink-500);
        --paper-toggle-button-checked-button-color: var(--paper-pink-500);
        --paper-toggle-button-checked-ink-color: var(--paper-pink-500);
        --paper-toggle-button-unchecked-bar-color: var(--paper-indigo-900);
        --paper-toggle-button-unchecked-button-color: var(--paper-indigo-900);
        --paper-toggle-button-unchecked-ink-color: var(--paper-indigo-900);
    }
    
    paper-tabs.transparent-teal {
        width: 180px;
        background-color: transparent;
        color: #00bcd4;
        box-shadow: none;
    }
    
    paper-tabs.transparent-teal::shadow #selectionBar {
        background-color: #00bcd4;
    }
    
    paper-tabs.transparent-teal paper-tab::shadow #ink {
        color: #00bcd4;
    }
    
    polymer-color-picker.fancy {
        --polymer-color-picker-color-size: 10px;
        --polymer-color-picker-icon-size: 40px;
    }
    </style>
    <template>
        <header class="main-header">
            <!-- Logo -->
            <a href="../../index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>D</b>SA</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Digital</b> Slide Archive</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="flex-container">
                    <paper-tabs selected="0" class="transparent-teal" noink>
                        <paper-tab>
                            <iron-icon icon="image:crop-square"></iron-icon>
                        </paper-tab>
                        <paper-tab>
                            <iron-icon icon="radio-button-unchecked"></iron-icon>
                        </paper-tab>
                        <paper-tab>
                            <iron-icon icon="image:details"></iron-icon>
                        </paper-tab>
                        <paper-tab>
                            <iron-icon icon="bookmark-border"></iron-icon>
                        </paper-tab>
                    </paper-tabs>
                    <polymer-color-picker class="fancy"></polymer-color-picker>
                    <paper-toggle-button class="green" checked>Draw</paper-toggle-button>
                </div>
                <!--
                    <div id="image_viewer_toolbar" class="toolbar" style="height:35px">
                    
                        <div id="wsi_active_shape" class="btn-group drawing_shape" data-toggle="buttons-radio" style="float:left;margin-right:5px">
                            <button id="circle" type="button" class="btn btn-primary osd_drawctrl">
                                <img src="assets/img/drawicons/circle.png">
                            </button>
                            <button id="rect" type="button" class="btn btn-primary">
                                <img src="assets/img/drawicons/square.png" />
                            </button>
                            <button id="polygon" type="button" class="btn btn-primary">
                                <img src="assets/img/drawicons/polyline_v1.png" />
                            </button>
                            <button id="poi" type="button" class="btn btn-primary" style="height:35px">
                                <img src="assets/img/drawicons/Pin1_Blue.png" />
                            </button>
                        </div>
                        <div id="wsi_paint_color" class="btn-group paint_color" data-toggle="buttons-radio" style="float:left;margin-right:5px">
                            <button id="red" type="button" class="btn btn-primary">
                                <div style="border:10px solid red"></div>
                            </button>
                            <button id="green" type="button" class="btn btn-primary">
                                <div style="border:10px solid green"></div>
                            </button>
                            <button id="blue" type="button" class="btn btn-primary">
                                <div style="border:10px solid blue"></div>
                            </button>
                            <button id="yellow" type="button" class="btn btn-primary">
                                <div style="border:10px solid yellow"></div>
                            </button>
                        </div>
                        <div class="drawing_switch" data-on="danger" data-off="warning" style="float:left">
                            <input type="checkbox">
                        </div>
                        <div style='float:left' id="image_id_display"></div>
                    -->
                <div id="image_viewer"></div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown mega-dropdown messages-menu">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-bookmark-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Annotations</li>
                                <li>
                                    <app-annotations></app-annotations>
                                </li>
                                <li class="footer">
                                    <div align="center">
                                        <paper-button raised class="green">
                                            <iron-icon icon="save"></iron-icon>Save Layers and Markups</paper-button>
                                        <div>
                                </li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown mega-dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-download"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Aperio Import</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown mega-dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-info-circle"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Viewport Properties</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Maria Juarez</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Maria Juarez- Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                    </div>
            </nav>
        </header>
    </template>
</dom-module>
<script>
Polymer({
    is: 'app-header'
});
</script>