
<dom-module id="app-dsa">
   <style>
   </style>
   <template>
   	  <app-header></app-header>
   	  <app-workspace on-image-click = selectedImageToLoad></app-workspace>
	     <app-footer></app-footer>
	     <app-controlsidebar></app-controlsidebar>
   </template>
</dom-module>
<script>
   Polymer({
     is: 'app-dsa',

    properties: {
        dg_viewer : Object
    },
     ready: function() {
       this.dg_viewer = OpenSeadragon({
            id: "openseadragon1",
            prefixUrl: "images/openseadragon-bin-2.0.0/images/",
            showNavigator: true,
        });
       //dg_viewer.open("http://node15.cci.emory.edu/cgi-bin/iipsrv.fcgi?DeepZoom=/PYRAMIDS/PYRAMIDS/CDSA/GBM_Frozen/intgen.org_GBM.tissue_images.3.0.0/TCGA-06-0137-01A-01-BS1.svs.dzi.tif.dzi");

       //dg_viewer.open("http://node15.cci.emory.edu/cgi-bin/iipsrv.fcgi?DeepZoom=/PYRAMIDS/PYRAMIDS/CDSA/GBM_Frozen/intgen.org_GBM.tissue_images.3.0.0/TCGA-06-0137-01A-01-BS1.svs.dzi.tif.dzi");

/*
      //https://isic-archive.com/api/v1/image/54e755f8bae47850e86ce012 
      isic_image = 'https://isic-archive.com/api/v1/image/54e755f8bae47850e86ce012'
      base_url = `https://isic-archive.com/api/v1/image/${isic_image}/`;
      image_filename_url = base_url + 'download?contentDisposition=inline&.jpg' //Please note this hack, without the .jpg osd couldn't read

        new_tile_source = {
            'type': 'legacy-image-pyramid',
            levels: [{
                'url': image_filename_url,
                'height':3872, 'width':2592
            }]
        }
        
      //'height': image_metadata.meta.acquisition.pixelsY,
                //'width': image_metadata.meta.acquisition.pixelsX,
        //update_rater_overlays(image_name);  <<TO DOO!!!!
    this.dg_viewer.open(new_tile_source);
*/
     var layer = document.querySelector('#layer');
     layer.target = document.querySelector('#layerBtn');
     
     var layerDetails = document.querySelector('#layerDetails');
     layerDetails.target = document.querySelector('#layerDetailsBtn');
     
     var layerMarkups = document.querySelector('#layerMarkups');
     layerMarkups.target = document.querySelector('#layerMarkupsBtn');
     
      },
      selectedImageToLoad: function(e) {

        if(e.detail.workspace_whole_image_url)
        { 
          //alert("DSA: "+e.detail.workspace_whole_image_url);
          this.dg_viewer.open(e.detail.workspace_whole_image_url);
        }
      
     }

   });
</script>