<link rel="import" href="../../bower_components/akyral-details/akyral-details.html">
<dom-module id="app-annotations">
    <style>

    </style>
    <template>
        <div>
            <section class="section">
                <button id="layerBtn" class="button__preview icon-lab">Layer</button>
            </section>
            <akyral-details id="layer">
                <section class="section__review">
                    <h3>Details Content</h3>
                    <p>
                        This content was originally hidden, now it can be seen. Thus, is mysterious ways of the <code>akyral-details</code> element.
                    </p>
                </section>
            </akyral-details>
        </div>
        <div>
            <section class="section">
                <button id="layerDetailsBtn" class="button__preview icon-lab">Layer Details</button>
            </section>
            <akyral-details id="layerDetails">
                <section class="section__review">
                    <h3>Details Content</h3>
                    <p>
                        This content was originally hidden, now it can be seen. Thus, is mysterious ways of the <code>akyral-details</code> element.
                    </p>
                </section>
            </akyral-details>
        </div>
        <div>
            <section class="section">
                <button id="layerMarkupsBtn" class="button__preview icon-lab">Layer Markups</button>
            </section>
            <akyral-details id="layerMarkups">
                <section class="section__review">
                    <h3>Details Content</h3>
                    <p>
                        This content was originally hidden, now it can be seen. Thus, is mysterious ways of the <code>akyral-details</code> element.
                    </p>
                </section>
            </akyral-details>
        </div>
    </template>
</dom-module>
<script>
Polymer({
    is: 'app-annotations',

    ready: function() {
        this.annSections = [{
            btn_name: "toggle details 1",
            description: "This content was originally hidden, now it can be seen. Thus, is mysterious ways of the <code>akyral-details</code> element."
        }, {
            btn_name: "toggle details 2",
            description: "This content was originally hidden, now it can be seen. Thus, is mysterious ways of the <code>akyral-details</code> element."
        }, {
            btn_name: "toggle details 3",
            description: "This content was originally hidden, now it can be seen. Thus, is mysterious ways of the <code>akyral-details</code> element."
        }];
    },

});
</script>